<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Minhas grades</h1>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
  <% if grades.any? %>
    <% grades.each do |grade| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= grade.track.title %>
        </div>
        <div class="panel-body">
         <p><%= grade.total_completed_tasks %>/<%= grade.total_tasks %> concluido</p>
         <% unless grade.completed? %>
           <%= link_to([current_user, grade, grade.actual_activity], class: "btn btn-primary") do %>
            CONTINUAR
           <% end %>
         <% end %>
        </div>
      </div>
    <% end %>
  <% else %>
    <h3>Você ainda não iniciou nenhum curso!</h3>
  <% end %>
  </div>
</div>
