<nav class="navbar navbar-white navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll col-md-3">
            <a class="navbar-brand" href="/"><%= t('name') %></a>
        </div>

        <div class="navbar-header page-scroll col-md-8">
            <form class="search-nav">
                <input type="text" name="" placeholder="ðŸ” Pesquise por cursos...">
            </form>
        </div>
        <div class="navbar-header page-scroll col-md-1">
            <ul>
                <li>
                    <a class="navbar-brand" href="/">
                        <img src="http://cdn0.vox-cdn.com/images/verge/default-avatar.v9899025.gif" style="width: auto; height: auto;max-width: 30px;max-height: 25px" />
                    </a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
