<nav class="navbar navbar-white navbar-fixed-top">
    <div class="container">
        <div class="navbar-header page-scroll col-md-3 col-sm-3">
            <a class="navbar-brand" href="/"><%= t('name') %></a>
        </div>
        <div class="navbar-header page-scroll col-md-8 col-sm-8">
            <form class="search-nav">
                <input type="text" name="" placeholder="ðŸ” Pesquise por cursos...">
            </form>
        </div>
        <div class="navbar-header page-scroll col-md-1 col-sm-1">
           <ul>
                <li style="margin: 20%;">
                    <%= link_to('Logout', destroy_user_session_path, :method => :delete) %> 
                    </a>
                </li>
            </ul>
        </div>  
    </div>
</nav>
