<div class="row">
	<div class="col-lg-6">
		<h1>Pesquise por cursos:</h1>
		<div class="input-group">
	      <span class="input-group-btn">
	       <a href="#" class="btn btn-primary"><i class="fa fa-search"></i></a>
	      </span>
	      <input id="search-field" type="text" placeholder="e.g. Ruby, C#, .NET..." class="form-control" />
	    </div>
	</div>
</div>
<hr/>
<div class="row">
	<div class="col-md-12 col-sm-12">
		<div id="stage" class="row">
			<input type="hidden" id="autosearch" />
			<%=image_tag("ring.gif", :class=> "ajax-loader")%>
		</div>
	</div>
</div>

