<head>
	<title><%= track.title %></title>
	<style type="text/css">
		div.page {
		  width: 210mm;
		  height: 300mm;
		}
	</style>
</head>
<body>
	<div class="page">
		<h1><%= track.title %></h1>
		<small>Criado por <%= track.owner.fullname %> utilizando Codeskull</small>
		<p><%= track.description %></p>
	</div>
	<div class="page">
		<h2>Ementa</h2>
		
	</div>
</body>