<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Cadastrar tarefas</h1>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<%= render partial: 'form', locals: { task: task, track: track } %>
	</div>
</div>
