/*
*= require codemirror
*= require codemirror/themes/night
*/

@import "font-awesome";
@import "bootstrap";
@import "sb-admin";
@import "plugins/morris.css";

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../assets/glyphicons-halflings-regular.eot');
  src: url('../assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
       url('../assets/glyphicons-halflings-regular.woff') format('woff'), 
       url('../assets/glyphicons-halflings-regular.ttf') format('truetype'), 
       url('../assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

#wrapper.wrapper-lp {
	padding: 0px;
	position: relative;
	height: auto !important; 
  min-height: 100%; 
}

#page-wrapper {
  min-height: 580px;
}

.thumb-box {
	height: 180px; 
	overflow: hidden;
}

.CodeMirror {
  font-family: monospace;
  min-height: 480px;
}

.activity-box {
  min-height: 450px; 
}

.console {
  background-color: black;
  width: 100%;
  color: #97f297;
  font-family: consolas;
  font-weight: bold;
}