// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.vcenter {
    padding-top: 5%;
    padding-bottom: 10%;
    cursor: default;
}


#page-top > section > div a {
	color: black !important;

    &:focus {
    	color: black !important;
    }
    &:visited {
        color: black !important;
    }
    &:hover {
        color: black !important;  
    }
    &:active {
        color: black !important;
    }
}



#page-top > section > div form a {

    color: white !important;
    background-color: #3b5998;

    &:visited {
        color: white !important;
    }
    &:hover {
        color: white !important;  
    }

}
